# Ignore Python virtual environments
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore Streamlit secrets
.streamlit/secrets.toml 